<div class="container">
	<section id="content">
	<div><img src="./assets/images/logo-main.png"></div>
		<form action="">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" (click)="btnLogin()" />
				<a href="#">Forgot password?</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->